/node_modules
/public/hot
/public/storage
/public/images/athletes/*
!/public/images/athletes/.gitkeep
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
